body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

audio {
  width: fit-content;
}

button {
  border-radius: 50px;
  width: 100px;
  background-color: lemonchiffon;
  height: 100px;
  border-style: solid;
  border-color: beige;
}

button:hover {
  cursor: pointer;
  background-color: rgb(194, 194, 95);
}
