/* cute little gradient background for a bit of under-the-radar variation */
body {
  background-image: -moz-radial-gradient(#fff, #c9c0d1);
}

h1 {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 4rem;
}

h2 {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 2rem;
  padding-top: 4rem;
  margin-bottom: 0;
}

h3 {
  font-family: "Anek Telugu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 150;
  font-size: 1rem;
}

p {
  font-family: "Anek Telugu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1rem;
  text-align: justify;
  max-width: 100%;
}

/* override default link style */
a {
  color: rgb(51, 51, 136);
}

/* link hover style */
a:hover {
  color: rgb(15, 15, 85);
}

/* parent div for formatting text grid section and graphics
 div  next to each other */
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* grid display for the q & a layout */
section {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 2rem;
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/* flex display for the list so that it's more a cloud of items than a vertical list*/
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-around;
}

/* soccer action li class */
.so {
  color: rgb(102, 55, 55);
}

/* li class for clicking "discover" button. highlighted
 because this is where the site is clearly trying to 
 lead the user to */
.consume {
  color: rgb(255, 61, 61);
}

/* li class for navigational actions */
.navi {
  color: rgb(34, 73, 96);
}

/* li class for mousover tree action */
.tree {
  color: rgb(20, 68, 20);
}

li {
  list-style-type: none;
  font-family: "Anek Telugu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1rem;
  padding: 0 0.5rem 0 0.5rem;
  line-height: 1.5rem;
  border-color: rgba(51, 51, 136, 0.2);
  border-style: solid;
  border-radius: 2rem;
  border-width: 1px;
}

/* div to hold all the images */
.graphic {
  max-width: 20%;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 4rem;
  gap: 0.7rem;
}
