body {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

/* the slideshow container */
.outer {
  height: 100vh;
  display: flex;
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge removes scrollbar */
  scrollbar-width: none; /* Firefox removes scrollbar*/
}

.outer::-webkit-scrollbar {
  display: none; /* Chrome, safari, opera removes scrollbar*/
}

/* div for each slide. using vu to be modular and consistent */
.inner {
  height: 100vh;
  width: 100vw;
  flex-shrink: 0;
}

/* the images on each slide */
.inner > img {
  height: 100%;
  max-width: 98vw;
  margin: auto;
}

/* the container for the preview/links in the footer-style div */
.preview {
  padding-top: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  height: 4rem;
  width: 98vw;
  margin: auto;
  display: flex;
  gap: 0.6rem;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  z-index: 100000;
}

.preview::-webkit-scrollbar {
  display: none; /* Chrome, safari, opera */
}

/* div containers for each individual photo and accompanying grey box */
.p-inner {
  position: relative;
  cursor: pointer;
  height: 3.7rem;
  flex-shrink: 0;
}

/* grey box default state */
.hoverbox {
  position: absolute;
  height: 3.7rem;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color ease-out 0.3s;
  border-radius: 7px;
}

/* grey box hover state */
.hoverbox:hover {
  background-color: rgba(114, 114, 114, 0.56);
}

/* individual preview img styling */
.p-inner > img {
  height: 100%;
  max-width: 100%;
  margin-top: 20px;
  margin: auto;
  overflow-x: hidden;
  border-radius: 7px;
}

/* right arrow for slideshow */
#arrowicon-right {
  z-index: 2000;
  position: absolute;
  margin-top: 50vh;
  margin-left: 96vw;
  cursor: pointer;
  transition: fill ease-out 0.3s;
}

/* left arrow for slideshow */
#arrowicon-left {
  z-index: 2000;
  position: absolute;
  margin-top: 50vh;
  margin-left: 4vw;
  transform: rotate(180deg);
  cursor: pointer;
  transition: fill ease-out 0.3s;
}

/* class for when arrows are needed */
.arrowthere {
  fill: rgba(146, 77, 99, 1);
}

.arrowthere:hover {
  fill: rgba(164, 117, 132, 1);
}

/* class for when arrows are not needed i.e.
 left arrow on first slide 
and right arrow on last slide */
.arrownull {
  fill: rgba(146, 77, 99, 0);
}

/* footer-style div */
#footer-nav {
  background-color: rgba(149, 104, 118, 0.4);
  position: absolute;
  z-index: 3000;
  height: 6rem;
  width: 100%;
  bottom: 0rem;
}

/* container for footer-style div and button that opens it */
#nav-detector {
  position: absolute;
  z-index: 3000;
  height: 7rem;
  width: 100%;
  bottom: -6rem;
  transition: bottom ease-out 0.2s;
}

/* actual conventional footer info is in there */
footer {
  height: 2rem;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  text-align: center;
}

/* the unobtrusive button that opens the footer-style div */
#bar {
  border: solid rgb(164, 117, 132);
  border-radius: 50px;
  width: 7rem;
  margin: auto;
  cursor: pointer;
  transition: border ease-out 0.3s;
}

#bar:hover {
  border: solid rgb(207, 177, 186);
}

p {
  color: aliceblue;
}

a {
  color: rgb(231, 191, 252);
}

/* arrows for the preview section*/
#arrowpreview-right {
  position: absolute;
  right: 0.3rem;
  cursor: pointer;
  transition: fill ease-out 0.3s;
  z-index: 1000;
}

#arrowpreview-left {
  position: absolute;
  left: 0.3rem;
  transform: rotate(180deg);
  cursor: pointer;
  transition: fill ease-out 0.3s;
  z-index: 1000;
}

/* class for both arrows in the preview section */
.arrowpreview {
  border: solid rgb(214, 126, 126) 2px;
  border-radius: 50px;
  background-color: rgb(244, 201, 214);
  width: 1rem;
  height: 1rem;
  top: 1.5rem;
}

.arrowpreview:hover {
  background-color: rgb(250, 242, 245);
}
